<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Geo Attendance System</title>

  <link rel="stylesheet" href="/bootstrap-5.3.1-dist/css/bootstrap-grid.css">
  <link rel="stylesheet" href="/bootstrap-5.3.1-dist/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/bootstrap-5.3.1-dist/css/bootstrap-grid.rtl.css">
  <link rel="stylesheet" href="/bootstrap-5.3.1-dist/css/bootstrap-grid.rtl.min.css">
  <link rel="stylesheet" href="/bootstrap-5.3.1-dist/css/bootstrap-reboot.css">
  <link rel="stylesheet" href="/bootstrap-5.3.1-dist/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/bootstrap-5.3.1-dist/css/bootstrap-reboot.rtl.css">
  <link rel="stylesheet" href="/bootstrap-5.3.1-dist/css/bootstrap-reboot.rtl.min.css">
  <link rel="stylesheet" href="/bootstrap-5.3.1-dist/css/bootstrap-utilities.css">
  <link rel="stylesheet" href="/bootstrap-5.3.1-dist/css/bootstrap-utilities.min.css">
  <link rel="stylesheet" href="/bootstrap-5.3.1-dist/css/bootstrap-utilities.rtl.css">
  <link rel="stylesheet" href="/bootstrap-5.3.1-dist/css/bootstrap-utilities.rtl.min.css">
  <link rel="stylesheet" href="/bootstrap-5.3.1-dist/css/bootstrap.css">
  <link rel="stylesheet" href="/bootstrap-5.3.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap-5.3.1-dist/css/bootstrap.rtl.css">
  <link rel="stylesheet" href="/bootstrap-5.3.1-dist/css/bootstrap.rtl.min.css">


  <script src="/bootstrap-5.3.1-dist/js/bootstrap.bundle.js"></script>
  <script src="/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
  <script src="/bootstrap-5.3.1-dist/js/bootstrap.esm.js"></script>
  <script src="/bootstrap-5.3.1-dist/js/bootstrap.esm.min.js"></script>
  <script src="/bootstrap-5.3.1-dist/js/bootstrap.js"></script>
  <script src="/bootstrap-5.3.1-dist/js/bootstrap.min.js"></script>
    <!-- printing link -->
    <link rel="stylesheet" type="text/css" media="print" href="/print.css">
    <link rel="stylesheet" href="/style.css">

</head>