<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body>
  <form action="/user" method="post">
    <label for="fname">First name</label>
    <input type="text" id="fname" name="fname" placeholder="First name"><br><br>
    <label for="lname">last name</label>
    <input type="text" id="lname" name="lname" placeholder="last name"><br><br>
    <label for="phone">phone</label>
    <input type="text" name="phone" placeholder="phone"><br><br>
    <label for="level">level</label>
    <input type="number" name="level" placeholder="level"><br><br>
    <label for="code">Code</label>
    <input type="text" name="code" placeholder="code"><br><hr>
    
    <input type="submit" value="save" class="btn btn-lg btn-dark">
  </form>
  <br><br>
  <div class="container">
    <a href="index" class="btn btn-lg btn-dark">Back</a>
  </div>
</body>
</html>