<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <section>
    <div class="row">
      <form action="/attendance" method="post" >
        <input type="text" name="code" placeholder="code"class="col-lg-3">
        <input type="submit" value="regist" class="btn btn-lg btn-dark">
      </form>
    </div>
    <div class="row">
      <h1>
        لم يتم التسجيل بعد
      </h1>
      <table class="table col-lg-6">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">code</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="container">
      <a href="index" class="btn btn-lg btn-dark">Back</a>
    </div>
  </section>
</body>
</html>