<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body id="main">
  <section id="main-page">
    <div class="row">
      <div class="col-lg-6 col-sm-5">
        <a href="add-student" class="btn btn-lg btn-dark">اضافة طالب جديد</a>
        <a href="main-update" class="btn btn-lg btn-dark">تعديل الطالب</a>
        <a href="main-delete" class="btn btn-lg btn-dark">مسح الطالب</a>
        <br><br>
        <a href="attendance" class="btn btn-lg btn-dark">تسجيل الحضور</a>
        <a href="report" class="btn btn-lg btn-dark">تقرير اليوم</a>
        <br><br>
        <a href="all-student-report" class="btn btn-lg btn-dark"> تقرير الطلبة </a>
        <br><br>
        <a href="main-exam" class="btn btn-lg btn-dark">وضع درجات الامتحانات</a><br><br>
        <a href="main-pay" class="btn btn-lg btn-dark"> الدفع الشهري</a>
      </div>
      <div class="col-lg-6 col-sm-5">
        <img src="img/Picsart_23-08-10_15-50-58-312.png" alt="..." class="earth">
      </div>
    </div>
  </section>
</body>
</html>