<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body id="main">
  <section id="main-page">
    <div class="row">
      <div class="col-lg-6 col-sm-5">
        <form action="/admin" method="post">
          <input type="password" name="pass" placeholder="enter admin password">
          <input type="submit" value="enter" class="btn btn-lg btn-dark">
        </form>
      </div>
      <div class="col-lg-6 col-sm-5">
        <img src="img/Picsart_23-08-10_15-50-58-312.png" alt="..." class="earth">
      </div>
    </div>
  </section>
</body>
</html>