<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body id="main">
  <section id="main-page">
    <div class="row">
      <div class="col-lg-6 col-sm-5">
        <a href="all-update" class="btn btn-lg btn-dark">القائمة بالكامل</a>
        <br><br>
        <a href="" class="btn btn-lg btn-dark">الصف الاول</a>
        <a href="" class="btn btn-lg btn-dark">الصف الثاني</a>
        <a href="attendance" class="btn btn-lg btn-dark">الصف الثالث</a>
        <br><br>
        <a href="index" class="btn btn-lg btn-dark">Back</a>
      </div>
      <div class="col-lg-6 col-sm-5">
        <img src="img/Picsart_23-08-10_20-07-19-058.png" alt="..." class="earth">
      </div>
    </div>
  </section>
</body>
</html>