<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body id="main">
  <section id="main-page">
    <div class="row">
      <div class="col-lg-6 col-sm-5">
        <a href="pay" class="btn btn-lg btn-dark">
          تسجيل الدفع الشهري
        </a>
        <br><br>
        <a href="pay-report" class="btn btn-lg btn-dark"> تقرير الدفع الشهري</a>
        <br><br>
        <a href="index" class="btn btn-lg btn-dark">Back</a>
        <%- include('partials/exit.ejs') %>
      </div>
      <div class="col-lg-6 col-sm-5">
        <img src="img/Picsart_23-08-10_20-07-19-058.png" alt="..." class="earth">
      </div>
    </div>
  </section>
</body>
</html>